.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fa-star-o {
  color: rgb(255, 174, 0);
}

.fa-star {
  color: rgb(255, 174, 0);
}
